In [3]:
dict1 = {}
print(dict1)
print(type(dict1))
print(len(dict1))

{}
<class 'dict'>
0

In [4]:
d2 = {"name":"Vinay"}
print(d2)
print(len(d2))

{'name': 'Vinay'}
1

In [5]:
d2 = {"name":"Vinay","Age":45}
print(d2)
print(len(d2))

{'name': 'Vinay', 'Age': 45}
2

In [6]:
d3 = {"name":"Vinay","City":"Indore","name":"Anuj"}
print(d3)
print(len(d3))

{'name': 'Anuj', 'City': 'Indore'}
2

In [7]:
d3 = {"Name":"Vinay","City":"Indore","name":"Anuj"}
print(d3)
print(len(d3))

{'Name': 'Vinay', 'City': 'Indore', 'name': 'Anuj'}
3

In [11]:
d4 = {"Name":['Vijay',"Vishal","Rahul","Jasmit","Sonali"],
      "Age":[54,63,23,66,73],
      "Location":["Indore","Bhopal","Ujjain","Sagar","Katni"]}
print(d4)

{'Name': ['Vijay', 'Vishal', 'Rahul', 'Jasmit', 'Sonali'], 'Age': [54, 63, 23, 66, 73], 'Location': ['Indore', 'Bhopal', 'Ujjain', 'Sagar', 'Katni']}

In [12]:
d4[0]

KeyError: 0

In [13]:
d4['Name']

['Vijay', 'Vishal', 'Rahul', 'Jasmit', 'Sonali']

In [14]:
d4['Name'][0]

'Vijay'

In [15]:
d4['Name'][3]

'Jasmit'

In [16]:
d4['Name'][1:]

['Vishal', 'Rahul', 'Jasmit', 'Sonali']

In [17]:
d4['Name'][::-1]

['Sonali', 'Jasmit', 'Rahul', 'Vishal', 'Vijay']

In [18]:
d4['Age'][2]

23

In [19]:
d4['Location'][2]

'Ujjain'

In [21]:
d4['Location'][2] = "Ratlam"

In [22]:
d4

{'Name': ['Vijay', 'Vishal', 'Rahul', 'Jasmit', 'Sonali'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni']}

In [23]:
d4['Name'][1] = "Virat"
d4

{'Name': ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni']}

In [24]:
d4['Gender'] = ["M","F","F","M","F"]
d4

{'Name': ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni'],
 'Gender': ['M', 'F', 'F', 'M', 'F']}

In [25]:
d4['Qualification'] = ["B.COm","B.Sc.","M.Sc"]

In [26]:
d4

{'Name': ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni'],
 'Gender': ['M', 'F', 'F', 'M', 'F'],
 'Qualification': ['B.COm', 'B.Sc.', 'M.Sc']}

In [30]:
d4['Name'].append("Rohit Sharma")
d4

{'Name': ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali', 'Rohit Sharma'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni'],
 'Gender': ['M', 'F', 'F', 'M', 'F'],
 'Qualification': ['B.COm', 'B.Sc.', 'M.Sc']}

In [27]:
d5 = {'Name': {'Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali',"Virat"},
 'Age': [54, 63, 23, 66, 73]}
print(d5)

{'Name': {'Vijay', 'Rahul', 'Jasmit', 'Sonali', 'Virat'}, 'Age': [54, 63, 23, 66, 73]}

In [29]:
d5['Age'].count(63)

1

In [31]:
for i in d4:
    print(i)

Name
Age
Location
Gender
Qualification

In [33]:
for i,j in d4.items():
    print(i)
    print(j)

Name
['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali', 'Rohit Sharma']
Age
[54, 63, 23, 66, 73]
Location
['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni']
Gender
['M', 'F', 'F', 'M', 'F']
Qualification
['B.COm', 'B.Sc.', 'M.Sc']

In [36]:
for key,value in d4.items():
    # print(key)
    # print(value)
    print(key,value)

Name ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali', 'Rohit Sharma']
Age [54, 63, 23, 66, 73]
Location ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni']
Gender ['M', 'F', 'F', 'M', 'F']
Qualification ['B.COm', 'B.Sc.', 'M.Sc']

In [47]:
d4[['Location','Name']]

TypeError: unhashable type: 'list'

In [43]:
d6  = {'Name': ['Vijay', 'Virat', 'Rahul', 'Jasmit', 'Sonali'],
 'Age': [54, 63, 23, 66, 73],
 'Location': ['Indore', 'Bhopal', 'Ratlam', 'Sagar', 'Katni'],
 'Gender': ['M', 'F', 'F', 'M', 'F']}

In [37]:
nest_dict = {"GrandFather":{"Name":"Hariram",
                            "Age":90},
            "Father":{"Name":"Atmaram",
                      "Age":54},
            "Self":{"Name":"Ashvini",
                    "Age":24}}
print(nest_dict)

{'GrandFather': {'Name': 'Hariram', 'Age': 90}, 'Father': {'Name': 'Atmaram', 'Age': 54}, 'Self': {'Name': 'Ashvini', 'Age': 24}}

In [ ]:
d6.