# Tuple

In [1]:
x = ()
print(x)
print(type(x))

()
<class 'tuple'>

In [2]:
y = tuple(())
print(y)
print(type(y))

()
<class 'tuple'>

In [3]:
tup = (34,234,654,"Mouse", "Keyboard")
print(tup)
print(type(tup))

(34, 234, 654, 'Mouse', 'Keyboard')
<class 'tuple'>

In [5]:
tup1 = tuple([34,234,654,"Mouse", "Keyboard"])
print(tup1)
print(type(tup1))

(34, 234, 654, 'Mouse', 'Keyboard')
<class 'tuple'>

In [6]:
iop = 45
print(iop)
print(type(iop))

45
<class 'int'>

In [9]:
# tuple unpacking
iop = 45,47,"Vinay"
print(iop)
print(type(iop))

(45, 47, 'Vinay')
<class 'tuple'>

In [16]:
x,u, *y = 46,235,"Raj",7654,"Rahul",
print(x)
print(u)
print(y)
print(type(x))
print(type(y))

46
235
['Raj', 7654, 'Rahul']
<class 'int'>
<class 'list'>

In [18]:
io = ("Honey", "sat","Mat","Anny")
io[0]

'Honey'

In [19]:
io = ("Honey", "sat","Mat","Anny")
io[0:3]

('Honey', 'sat', 'Mat')

In [22]:
io = ("Honey", "sat","Mat","Anny",'sat')
io[0] = "Jaggery"
print(io)

TypeError: 'tuple' object does not support item assignment

In [24]:
io.index("sat",2)

4

In [25]:
io.count('sat')

2

In [28]:
# tuple concatenation
io = ("Honey", "sat","Mat","Anny",'sat')
ip = ("dhiraj","Sunayana")

concat = io + ip
print(concat)
print(len(concat))

('Honey', 'sat', 'Mat', 'Anny', 'sat', 'dhiraj', 'Sunayana')
7