# Data Types
1) Text -- String
2) Numeric -- Int, FLoat, complex
3) Sequence -- List, Tuple, Range
4) Mapping --> Dict
5) Set --> Set, Frozenset
6) Bool -> True, False
7) Null--> None

# Varible

In [ ]:
# Varible name must start with alphabat like A-Za-z
var = "Data SCience"
print(var)
print(id(var))

Data SCience
1392857996272

In [4]:
Var = "Machine learning"
print(Var)
print(id(Var))

Machine learning
1392807046448

In [5]:
a1 = "Hadoop"
print(a1)

Hadoop

In [ ]:
# Varible name cannot start with numeical value
4b = "Kubernet"
print(4b)

SyntaxError: invalid decimal literal (2454212022.py, line 1)

In [ ]:
# we can't use any special symbol except underscore(_)
_ = "Deep learning"
print(_)

Deep learning

In [8]:
^ = "NLP"
print(^)

SyntaxError: invalid syntax (1448760676.py, line 1)

In [ ]:
# we cant use white space in between variable name
My Name = "Gen AI"
print(My Name)

SyntaxError: invalid syntax (3087640009.py, line 1)

In [10]:
MyName = "Gen AI"
print(MyName)

Gen AI

In [12]:
My_Name = "Gen AI"
print(My_Name)

Gen AI

In [15]:
# we cant use keyword as a varible name
break = "Mouse"
print(break)

SyntaxError: invalid syntax (3192980408.py, line 2)

In [14]:
Break = "Mouse"
print(Break)

Mouse

In [ ]:
eCommerce, iPhone, eBay
my_name, my_computer
MyNameAtul

In [17]:
x = 45
print(x)
print(type(x))

45
<class 'int'>

In [18]:
x = 45.53
print(x)
print(type(x))

45.53
<class 'float'>

In [ ]:
x = 45 + 63j
print(x)
print(type(x))

(45+63j)
<class 'complex'>

In [20]:
My_Name = "Gen AI"
print(My_Name)
print(type(My_Name))

Gen AI
<class 'str'>

In [21]:
Name  = Sam 
print(Name)

NameError: name 'Sam' is not defined

In [23]:
Sam = "Altman"
Name  = Sam 
print(Name)
print(type(Name))

Altman
<class 'str'>

In [26]:
sent1 = "Hello, Dear all data scientist"
print(sent1)
print(type(sent1))

Hello, Dear all data scientist
<class 'str'>

In [28]:
# sequence (List, Tuple, Range)

x = [234, 435, 4563.45, "Hello", "Python", True, False, None]
print(x)
print(type(x))

[234, 435, 4563.45, 'Hello', 'Python', True, False, None]
<class 'list'>

In [29]:
y = (453,234,53,"X","Y","Z")
print(y)
print(type(y))

(453, 234, 53, 'X', 'Y', 'Z')
<class 'tuple'>

In [30]:
x = "python"
for i in x:
    print(i)

p
y
t
h
o
n

In [31]:
y = 34535
for j in y:
    print(j)

TypeError: 'int' object is not iterable

In [32]:
# Syntax (start, stop, step)
a = range(5)
print(a)

range(0, 5)

In [34]:
b = list(range(5))
print(b)
print(len(b))

[0, 1, 2, 3, 4]
5

In [36]:
c = list(range(4,16))
print(c)
print(len(c))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
12

In [37]:
c = list(range(4,16,2))
print(c)
print(len(c))

[4, 6, 8, 10, 12, 14]
6

In [38]:
c = list(range(4,16,3))
print(c)
print(len(c))

[4, 7, 10, 13]
4

In [39]:
# Mapping
d1 = {453,3456,234,63,3245}
print(d1)
print(type(d1))

{3456, 453, 234, 3245, 63}
<class 'set'>

In [40]:
d2 = {"Name":"harish","Age":23}
print(d2)

{'Name': 'harish', 'Age': 23}

In [42]:
T = True
print(T)
print(type(T))

True
<class 'bool'>

In [43]:
T = False
print(T)
print(type(T))

False
<class 'bool'>

In [45]:
true = "honey"
g = true 
print(g)

honey

In [47]:
X = None
print(X)

None