# Tokenization

In [1]:
# word token
x = "Hello you are an Artificial engineer."
token = x.split(" ")
token

['Hello', 'you', 'are', 'an', 'Artificial', 'engineer.']

In [3]:
y = "Hello Sukhmeet you are selected for Data Analyst profile. Here your task is to manipulate the data"
sent_tokenize = y.split(".")
sent_tokenize

['Hello Sukhmeet you are selected for Data Analyst profile',
 ' Here your task is to manipulate the data']

In [4]:
y = "Hello Sukhmeet! you are selected for Data Analyst profile. Here your task is to manipulate the data"
sent_tokenize = y.split(".")
sent_tokenize

['Hello Sukhmeet! you are selected for Data Analyst profile',
 ' Here your task is to manipulate the data']

In [5]:
import re
a = "You are going to Delhi!."
result  = re.findall("[\w]+",a)
print(result)

['You', 'are', 'going', 'to', 'Delhi']

In [7]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\GrowTech\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [11]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab') 
from nltk.tokenize import word_tokenize
a = "You are going to Delhi!."
token = tokenize.word_tokenize(a)
print(token)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\GrowTech\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\GrowTech\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

['You', 'are', 'going', 'to', 'Delhi', '!', '.']

In [13]:
sentence = """In 2013, Kohli was ranked number one in the ICC rankings for ODI batsmen. 
In 2015, he achieved the summit of T20I rankings. 
In 2018, he was ranked top Test batsman, making him the only Indian cricketer to hold the number one spot in all three formats of the game. 
He is the first player to score 20,000 runs in a decade. 
In 2020, the International Cricket Council named him the male cricketer of the decade."""
from nltk.tokenize import word_tokenize,sent_tokenize

sent_token = sent_tokenize(sentence)
print(sent_token)

['In 2013, Kohli was ranked number one in the ICC rankings for ODI batsmen.', 'In 2015, he achieved the summit of T20I rankings.', 'In 2018, he was ranked top Test batsman, making him the only Indian cricketer to hold the number one spot in all three formats of the game.', 'He is the first player to score 20,000 runs in a decade.', 'In 2020, the International Cricket Council named him the male cricketer of the decade.']

In [20]:
import spacy
# Load a pre-trained English model
nlp = spacy.load("en_core_web_sm")
# Process text
doc = nlp("This is an example sentence.")
# Access linguistic annotations
for token in doc:
    print(token.text,)

This
is
an
example
sentence
.

In [22]:
doc = nlp("You are going to Delhi!")
# Access linguistic annotations
for token in doc:
    print(token.text,token.pos_)

You PRON
are AUX
going VERB
to ADP
Delhi PROPN
! PUNCT

# Stemmer

In [26]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def Stem_word(text):
    return [ps.stem(word) for word in text.split()]

In [28]:
exa_sent = 'walk walks walking walked eaten eating running'
Stem_word(exa_sent)

['walk', 'walk', 'walk', 'walk', 'eaten', 'eat', 'run']

# Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
wordnet = WordNetLemmatizer()
Exa_sent = "He was running and eating as same time."
word = "w"
output = wordnet.lemmatize(word,pos = 'a')
print(output)

walk

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\GrowTech\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [61]:
from string import punctuation
print(punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
Exa_sent = "He was running and eating at same time."
token = word_tokenize(Exa_sent)
punct = """!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""
for word in token:
    if word in punct:
        token.remove(word)
print(token)
lemma_word = [wordnet.lemmatize(word,pos = 'v') for word in token]
print(lemma_word)

['He', 'was', 'running', 'and', 'eating', 'at', 'same', 'time']
['He', 'be', 'run', 'and', 'eat', 'at', 'same', 'time']

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("IMDB Dataset.csv")

In [71]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [73]:
df['review'][0].lower()

"one of the other reviewers has mentioned that after watching just 1 oz episode you'll be hooked. they are right, as this is exactly what happened with me.<br /><br />the first thing that struck me about oz was its brutality and unflinching scenes of violence, which set in right from the word go. trust me, this is not a show for the faint hearted or timid. this show pulls no punches with regards to drugs, sex or violence. its is hardcore, in the classic use of the word.<br /><br />it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />i would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. forget pretty pictures painted for mainstream audiences, forget charm, forget romance...oz doesn't mess around. the first episode i ever saw struck me as so nasty it was surreal, i couldn't say i was ready for it, but as i watched more, i developed a taste for oz, and got accustomed to the high levels of graphic violence. not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) watching oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [74]:
df['review'] = df.iloc[:,0].str.lower()
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

# Remove HTML Tags

In [79]:
def remove_tag(text):
    pattern = re.compile("<.*?>")
    return pattern.sub(r"",text)

In [80]:
sent = """"one of the other reviewers has mentioned that after 
watching just 1 oz episode you'll be hooked. 
they are right, as this is exactly what happened with me.
<br /><br />the first thing that struck me about oz was its 
brutality and unflinching scenes of violence, which set in right from the word go. trust me, this is not a show for the faint hearted or timid. this show pulls no punches with regards to drugs, sex or violence. its is hardcore, in the classic use of the word.<br /><br />it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />i would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. forget pretty pictures painted for mainstream audiences, forget charm, forget romance...oz doesn't mess around. the first episode i ever saw struck me as so nasty it was surreal, i couldn't say i was ready for it, but as i watched more, i developed a taste for oz, and got accustomed to the high levels of graphic violence. not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) watching oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."
"""
result = remove_tag(sent)
print(result)

"one of the other reviewers has mentioned that after
watching just 1 oz episode you'll be hooked.
they are right, as this is exactly what happened with me.
the first thing that struck me about oz was its
brutality and unflinching scenes of violence, which set in right from the word go. trust me, this is not a show for the faint hearted or timid. this show pulls no punches with regards to drugs, sex or violence. its is hardcore, in the classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. forget pretty pictures painted for mainstream audiences, forget charm, forget romance...oz doesn't mess around. the first episode i ever saw struck me as so nasty it was surreal, i couldn't say i was ready for it, but as i watched more, i developed a taste for oz, and got accustomed to the high levels of graphic violence. not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) watching oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [81]:
df['review'] = df['review'].apply(remove_tag)
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [82]:
df['review'][2]

'i thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. the plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). while some may be disappointed when they realize this is not match point 2: risk addiction, i thought it was proof that woody allen is still fully in control of the style many of us have grown to love.this was the most i\'d laughed at one of woody\'s comedies in years (dare i say a decade?). while i\'ve never been impressed with scarlet johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.this may not be the crown jewel of his career, but it was wittier than "devil wears prada" and more interesting than "superman" a great comedy to go see with friends.'

# Remove URL

In [3]:
import re
def remove_url(text):
    pattern = re.compile(r'https?.//\S+|www\.\S+')
    return pattern.sub(r"",text)

In [4]:
sent1 = "punctuation link https://www.google.com/search?q=import+punctuation+python&oq=import+punc&gs_lcrp=EgZjaHJvbWUqBwgBEAAYgAQyBggAEEUYOTIHCAEQABiABDIICAIQABgWGB4yCAgDEAAYFhgeMggIBBAAGBYYHjIICAUQABgWGB4yCAgGEAAYFhgeMggIBxAAGBYYHjIICAgQABgWGB4yCAgJEAAYFhge0gEIMzIxNWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
output  = remove_url(sent1)
output

'punctuation link '

# Handle Chat Conversation

In [22]:
chat_words = {
    'AFAIK':'As Far As I Know',
    'AFK':'Away From Keyboard',
    'ASAP':'As Soon As Possible',
    "FYI": "For Your Information",
    "ASAP": "As Soon As Possible",
    "BRB": "Be Right Back",
    "BTW": "By The Way",
    "OMG": "Oh My God",
    "IMO": "In My Opinion",
    "LOL": "Laugh Out Loud",
    "TTYL": "Talk To You Later",
    "GTG": "Got To Go",
    "TTYT": "Talk To You Tomorrow",
    "IDK": "I Don't Know",
    "TMI": "Too Much Information",
    "IMHO": "In My Humble Opinion",
    "ICYMI": "In Case You Missed It",
    "AFAIK": "As Far As I Know",
    "BTW": "By The Way",
    "FAQ": "Frequently Asked Questions",
    "TGIF": "Thank God It's Friday",
    "FYA": "For Your Action",
    "ICYMI": "In Case You Missed It",
}

In [29]:
sent_ = "BTW i'm your office couligue"
sent4 = "please join the meeting ASAP"

In [23]:
def chat_convertion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [30]:
chat_convertion(sent4)

'please join the meeting As Soon As Possible'

# Incorrect Text handling

In [48]:
from textblob import TextBlob
sent_ = "BTW i'm your offfice colleagues"
blob = TextBlob(sent_)
corr_blob = blob.correct()
result = str(corr_blob)
print(result)

BTW i'm your office colleagues

In [44]:
text_with_errors = "this is an exampl of incorrrect speling."
blob = TextBlob(text_with_errors)
corrected_blob = blob.correct()
corrected_text = str(corrected_blob)
print(corrected_text)

this is an example of incorrect spelling.

# Stopword removal

In [61]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\GrowTech\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [62]:
x = 'i thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. the plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). while some may be disappointed when they realize this is not match point 2: risk addiction, i thought it was proof that woody allen is still fully in control of the style many of us have grown to love.this was the most i\'d laughed at one of woody\'s comedies in years (dare i say a decade?). while i\'ve never been impressed with scarlet johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.this may not be the crown jewel of his career, but it was wittier than "devil wears prada" and more interesting than "superman" a great comedy to go see with friends.'
stop_words = set(stopwords.words('english'))

word_tokens = word_tokenize(x)
filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

print(word_tokens)
print(filtered_sentence)

['i', 'thought', 'this', 'was', 'a', 'wonderful', 'way', 'to', 'spend', 'time', 'on', 'a', 'too', 'hot', 'summer', 'weekend', ',', 'sitting', 'in', 'the', 'air', 'conditioned', 'theater', 'and', 'watching', 'a', 'light-hearted', 'comedy', '.', 'the', 'plot', 'is', 'simplistic', ',', 'but', 'the', 'dialogue', 'is', 'witty', 'and', 'the', 'characters', 'are', 'likable', '(', 'even', 'the', 'well', 'bread', 'suspected', 'serial', 'killer', ')', '.', 'while', 'some', 'may', 'be', 'disappointed', 'when', 'they', 'realize', 'this', 'is', 'not', 'match', 'point', '2', ':', 'risk', 'addiction', ',', 'i', 'thought', 'it', 'was', 'proof', 'that', 'woody', 'allen', 'is', 'still', 'fully', 'in', 'control', 'of', 'the', 'style', 'many', 'of', 'us', 'have', 'grown', 'to', 'love.this', 'was', 'the', 'most', 'i', "'d", 'laughed', 'at', 'one', 'of', 'woody', "'s", 'comedies', 'in', 'years', '(', 'dare', 'i', 'say', 'a', 'decade', '?', ')', '.', 'while', 'i', "'ve", 'never', 'been', 'impressed', 'with', 'scarlet', 'johanson', ',', 'in', 'this', 'she', 'managed', 'to', 'tone', 'down', 'her', '``', 'sexy', "''", 'image', 'and', 'jumped', 'right', 'into', 'a', 'average', ',', 'but', 'spirited', 'young', 'woman.this', 'may', 'not', 'be', 'the', 'crown', 'jewel', 'of', 'his', 'career', ',', 'but', 'it', 'was', 'wittier', 'than', '``', 'devil', 'wears', 'prada', "''", 'and', 'more', 'interesting', 'than', '``', 'superman', "''", 'a', 'great', 'comedy', 'to', 'go', 'see', 'with', 'friends', '.']
['thought', 'wonderful', 'way', 'spend', 'time', 'hot', 'summer', 'weekend', ',', 'sitting', 'air', 'conditioned', 'theater', 'watching', 'light-hearted', 'comedy', '.', 'plot', 'simplistic', ',', 'dialogue', 'witty', 'characters', 'likable', '(', 'even', 'well', 'bread', 'suspected', 'serial', 'killer', ')', '.', 'may', 'disappointed', 'realize', 'match', 'point', '2', ':', 'risk', 'addiction', ',', 'thought', 'proof', 'woody', 'allen', 'still', 'fully', 'control', 'style', 'many', 'us', 'grown', 'love.this', "'d", 'laughed', 'one', 'woody', "'s", 'comedies', 'years', '(', 'dare', 'say', 'decade', '?', ')', '.', "'ve", 'never', 'impressed', 'scarlet', 'johanson', ',', 'managed', 'tone', '``', 'sexy', "''", 'image', 'jumped', 'right', 'average', ',', 'spirited', 'young', 'woman.this', 'may', 'crown', 'jewel', 'career', ',', 'wittier', '``', 'devil', 'wears', 'prada', "''", 'interesting', '``', 'superman', "''", 'great', 'comedy', 'go', 'see', 'friends', '.']

In [51]:
len(stopwords.words('english'))

198

In [63]:
import emoji

In [64]:
sent = "🗼is located in paris"
emoji.demojize(sent)

':Tokyo_tower:is located in paris'

In [66]:
sent5 = "🏑 is the national game of India"
emoji.demojize(sent5)

':field_hockey: is the national game of India'

In [68]:
sent6 = "Scooter Owner Vasudev🛵"
emoji.demojize(sent6)

'Scooter Owner Vasudev:motor_scooter:'

In [74]:
emoji.replace_emoji(sent6)

'Scooter Owner Vasudev'

   Unnamed: 0  id category                                        text
0           0   1   sports        the batsman hit a six over midwicket
1           1   2   sports   the striker scored two goals in the match
2           2   3   sports   the bowler took a wicket and fans cheered
3           3   4     food      i love eating fresh apples and bananas
4           4   5     food     the chef cooked pasta with tomato sauce
5           5   6     food  the bakery sells bread and delicious cakes